{{!< default}}
 {{> header}}
 <div class="wrapper_blognum">
     <main class="main_blognum" role="main">
         {{#post}}
         <article class="article_blognum" role="article" itemscope itemtype="http://schema.org/Article">
             <header class="postheader_blognum">
                 <h1 class="posttitle_blognum" itemprop="headline" id="header">{{title}}</h1>
             </header>
             <div class="postcontent_blognum" itemprop="articleBody">
                 {{content}}
             </div>
 
             <div id="disqus_thread"></div>
             <script type="text/javascript">
                 /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                 var disqus_shortname = d_id;
 
                 /* * * DON'T EDIT BELOW THIS LINE * * */
                 (function() {
                     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                 })();
             </script>
             <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
             <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 
             <footer class="article_meta_blognum">
                 <div  class="half">
                     <div>
                         <span  class="dimmed">Posted on </span>
                         <time class="date_blognum" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">{{date format='dddd DD MMM YYYY'}}</time>
                     </div>
                     {{#if tags}}
                         <div>
                             <span class="dimmed"> Tagged in </span>
                             <span> {{tags separator=" , "}}</span>
                         </div>
                     {{/if}}
                 </div>
                 <div class="clear"></div>
                 {{#if author}}
                 <div class="postauther_blognum">
                         <address itemscope itemtype="http://schema.org/Person">
                             {{#if author.image}}
                                 <figure class="user-image">
                                     <div itemprop="image" class="authorimage_blognum" style="background-image: url({{author.image}});"></div>
                                 </figure>
                             {{/if}}
                             <h6 class="authorname_blognum">
                             <span itemprop="name">{{author.name}}</span></h6>
                             {{#if author.website}}
                                 <div class="authorwebsite_blognum"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
                             {{/if}}
                             <div class="authorbio_blognum">
                                 <p>{{author.bio}}</p>
                             </div>
                             <div class="clear"></div>
                         </address>
                 </div>
                 {{/if}}
 
             </footer>
 
         </article>
         {{/post}}
 
         {{#if pagination}}
             <div class="pagination_blognum">
                 {{{pagination}}}
             </div>
         {{/if}}
     </main>
 </div>
 {{> footer}}
